language: scala
scala:
   - 2.10.6
script:
  - "sbt ++$TRAVIS_SCALA_VERSION test"
  - "sbt ++$TRAVIS_SCALA_VERSION scripted"
branches:
  except:
    - /^v[0-9]/
cache:
  directories:
    - $HOME/.sbt
    - $HOME/.ivy2
